.cart {
  display: flex;
  flex-direction: column;
  gap: 20px;

  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 50px;
}

.cart__title {
  text-align: center;
  font-weight: bold;
}

.cart__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cart__item {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;

  justify-content: space-around;
  align-items: center;
}

.cart__item-img {
  width: 150px;
  min-height: 100px;
}
.cart-title-quant-box {
  display: flex;
  flex-direction: column;
  gap: 15px;

  align-items: center;
}

.cart-item-total-del-box {
  display: flex;
  flex-direction: column;
  gap: 15px;

  align-items: center;
  justify-content: center;
}

.cart__close {
  text-decoration: none;
  cursor: pointer;
  color: black;
  font-size: 150%;
  font-weight: bold;
}
