.menu__item {
  width: 200px;
  min-height: 300px;
  background-color: #fff;
  box-shadow: 5px 5px 45px rgba(256, 256, 256, 0.1);
  border-radius: 8px;
  padding: 20px;
  margin-right: 40px;
  margin-bottom: 40px;
  overflow: hidden;
}

.menu__img {
  width: 200px;
  transform: translateX(-20px);
  height: 250px;
  object-fit: contain;
  margin-bottom: 20px;
}

.menu__title {
  text-overflow: ellipsis; /* will make [...] at the end */
  width: 200px; /* change to your preferences */
  white-space: nowrap; /* paragraph to one line */
  overflow: hidden; /* older browsers */
  transform: translateX(-20px);
}

.menu__category,
.menu__price {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 10px;
}

.menu__category,
.menu__price > span {
  font-weight: 700;
}
